{% extends "layouts/formlayout.html" %}

{% block title_form %}
<div class="button" style="background-color: #8721e6;"></div>
<h2>Create Order</h2>
{% endblock %}

{% block body_form %}
<form action="{{ url_for('ordercreate')}}" method="post">
    <h5>Enter the Order details</h5>
    <div>
        <input type="text" name="Order_ID" placeholder="Order_ID">
    </div>
    <div>
        <input type="text" name="Store_ID" placeholder="Store_ID">
    </div>
    <div>
        <input type="text" name="Product_ID" placeholder="Product_ID">
    </div>
    <div>
        <input type="text" name="Order_Quanity" placeholder="Quanity">
    </div>
    <div>
        <input type="text" name="Order_Price" placeholder="Price">
    </div>
    <div>
        <input type="date" name="Order_Date" placeholder="Date">
    </div>
    <div>
      <input type="text" name="Received" placeholder="Received">
  </div>
    <div>
        <button >Create</button>
    </div>
</form>

{% endblock %}