{% extends "layouts/formlayout.html" %}

{% block title_form %}
<div class="button" style="background-color: #8721e6;"></div>
<h2>Delete Employee</h2>
{% endblock %}

{% block body_form %}
<form action="{{ url_for('employeedelete')}}" method="post">
  <label for="">Select an employee based on ID</label>
  <select name="employeeIDs">
    {% for name in employeeIDs %}
      <option value="{{ name }}">{{ name }}</option>
    {% endfor %} 
  </select>
  <div>
    <input type="hidden" id="confirmInput" name="confirmInput"> 
    <button type="submit" name="delete_button" value="delete_button" onClick="confirmDelete('employee')"> Delete </button>
  </div>
</form>

{% endblock %}