{% extends "layouts/baselayout.html" %}

{% block body_base %}
<div class="content">

{% block title_form %} {% endblock %}
{% block body_form %} {% endblock %}

<a href="/"><button> Go back </button></a>

{% if feedback_message != None %}
    {% if feedback_type %}
        <span style="color:green">{{feedback_message}}</span>
    {% else %}
    <span style="color:red">{{feedback_message}}</span>
    {% endif %}
{% endif %}

<script src="{{url_for('static', filename='confirmDelete.js')}}"></script>

</div>

{% endblock %}

