{% extends "layouts/formlayout.html" %}

{% block title_form %}
<div class="button" style="background-color: #8721e6;"></div>
<h2>Update Order</h2>
{% endblock %}

{% block body_form %}
<form action="{{ url_for('orderupdate')}}" method="post">
  <label for="ordernames">Select a order to update</label>
  <select name="ordernames">
    {% for name in ordernames %}
      <option value="{{ name }}">{{ name }}</option>
    {% endfor %} 
  </select>
    <h5>Enter the updated order details</h5>
    <div>
      <input type="text" name="Order_ID" placeholder="name">
    </div>
    <div>
        <input type="text" name="Store_ID" placeholder="Store_ID">
    </div>
    <div>
        <input type="text" name="Product_ID" placeholder="Product_ID">
    </div>
    <div>
        <input type="text" name="Order_Quanity" placeholder="Quanity">
    </div>
    <div>
        <input type="text" name="Order_Price" placeholder="Price">
    </div>
    <div>
        <input type="text" name="Order_Date" placeholder="Date">
    </div>
    <div>
      <input type="text" name="Received" placeholder="Received">
    </div>
      <button >Update</button>
    </div>
</form>

{% endblock %}
