{% extends "layouts/formlayout.html" %}

{% block title_form %}
<div class="button" style="background-color: #8721e6;"></div>
<h2>Update Staff</h2>
{% endblock %}

{% block body_form %}
<form action="{{ url_for('staffupdate')}}" method="post">
  <label for="staffnames">Select a Staff to update</label>
  <select name="staffnames">
    {% for name in staffname %}
      <option value="{{ name }}">{{ name }}</option>
    {% endfor %} 
  </select>
    <h5>Enter the updated order details</h5>
    <div>
      <input type="text" name="Staff_ID" placeholder="name">
    </div>
    <div>
        <input type="text" name="Store_ID" placeholder="Store_ID">
    </div>
    <div>
        <input type="text" name="Employee_ID" placeholder="Employee_ID">
    </div>
      <button >Update</button>
    </div>
</form>

{% endblock %}
