{% extends "layouts/baselayout.html" %}

{% block body_base %}

{% block title_form %} {% endblock %}
{% block body_form %} {% endblock %}

{% block content %}

{% if('admin' in current_user.username) %}
<a href="/dashboard"><button> Go back </button></a>
{% endif %}

{% if('store' in current_user.username) %}
<a href="/dashboard2"><button> Go back </button></a>
{% endif %}

{% if('manufacturer' in current_user.username) %}
<a href="/dashboard3"><button> Go back </button></a>
{% endif %}

{% endblock content %}

{% if feedback_message != None %}
    {% if feedback_type %}
        <span style="color:green">{{feedback_message}}</span>
    {% else %}
    <span style="color:red">{{feedback_message}}</span>
    {% endif %}
{% endif %}

<script src="{{url_for('static', filename='confirmDelete.js')}}"></script>

{% endblock %}

