{% extends "layouts/baselayout.html" %}

{% block body_base %}

{% block title_table %} {% endblock %}
{% block body_table %} {% endblock %}
{% block content %}
{% if('admin' in current_user.username) %}
<a href="/dashboard"><button> Go back </button></a>
{% endif %}

{% if('store' in current_user.username) %}
<a href="/dashboard2"><button> Go back </button></a>
{% endif %}

{% if('manufacturer' in current_user.username) %}
<a href="/dashboard3"><button> Go back </button></a>
{% endif %}
{% endblock content %}

{% endblock %}

