{% extends "layouts/formlayout.html" %}

{% block title_form %}
<h2>Update Manufacturer</h2>
{% endblock %}

{% block body_form %}
<form action="{{ url_for('manfupdate')}}" method="post"> <!-- Insert URL -->
  <label for="manfnames">Select a Manufactuerer to update</label>

  <select name="manfnames">
    {% for name in manfnames %}
      <option value="{{ name }}">{{ name }}</option>
    {% endfor %} 
  </select>

  <h5>Enter the updated Manufacturer details</h5>

  <div>
    <input type="text" name="name" placeholder="name_manf">
  </div>

  <div>
    <input type="text" name="hq" placeholder="headquarters">
  </div>

  <div>
    <input type="text" name="email" placeholder="email">
  </div>

  <div>
    <input type="text" name="phone" placeholder="phone">
  </div>

  <div>
    <input type="text" name="desc" placeholder="description">
  </div>


  <div>
      <button >Update</button>
  </div>
</form>

{% endblock %}
