body {background-color: coral;}

#box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    padding: 50px;
    margin-left: -10%;
    /* -1/2 width */
    margin-top: -10%;
    /* -1/2 height */
    background-color: white;
    border-style: solid;
    border-color: black;
}

