{% extends "layouts/baselayout.html" %}

<style>
    .content {
      margin: auto;
    }
</style>

{% block body_base %}

<div class="content">

<img src="https://media.giphy.com/media/eJLicD3TXKmUrNz32j/giphy.gif" alt="funny GIF" width="25%" height="25%">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
<img src="https://media.giphy.com/media/Jx78JEiPiCJRtL6OSg/giphy.gif" alt="funny GIF" width="25%" height="25%">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
<img src="https://media.giphy.com/media/eJLicD3TXKmUrNz32j/giphy.gif" alt="funny GIF" width="25%" height="25%">

<br />
<div class="button" style="background-color: #e880ff">
        <h2> Create</h2>
</div>

<br /><br />
<a href="/createproduct"><button> Create Product </button></a>
<br /><br />
<a href="/createorder"><button> Create Order </button></a>
<br /><br />
<a href="/createemployee"><button> Create Employee </button></a>

<br /><br />
<a href="/createmanf"><button> Create Manufacturer </button></a>
<br /><br />
<a href="/createstaff"><button> Create Staff</button></a>
<br /><br />
<a href="/createstore"><button> Create Store </button></a>
<br /><br />

<div class="button" style="background-color: #e880ff">
<h2>Read</h2>
</div>
<br /><br />
<a href="/readproduct"><button> Read Products </button></a>
<br /><br />
<a href="/readorder"><button> Read Order </button></a>
<br /><br />
<a href="/reademployee"><button> Read Employees </button></a>
<br /><br />
<a href="/readmanf"><button> Read Manufacturer </button></a>
<br /><br />
<a href="/readstaff"><button> Read Staff </button></a>
<br /><br />
<a href="/readstore"><button> Read Store </button></a>
<br /><br />

<div class="button" style="background-color: #e880ff;"> <h2>Update</h2> </div>
<br /><br />
<a href="/updateproduct"><button> Update Product </button></a>
<br /><br />
<a href="/updateorder"><button> Update Order </button></a>
<br /><br />
<a href="/updateemployee"><button> Update Employee </button></a>
<br /><br />
<a href="/updatemanf"><button> Update Manufacturer </button></a>
<br /><br />
<a href="/updatestaff"><button> Update Staff </button></a>
<br /><br />
<a href="/updatestore"><button> Update Store </button></a>
<br /><br />

<div class="button" style="background-color: #e880ff;">
<h2> Delete</h2>
</div>
<br /><br />
<a href="/deleteproduct"><button> Delete Product </button></a>
<br /><br />
<a href="/deleteorder"><button> Delete Order </button></a>
<br /><br />
<a href="/deleteemployee"><button> Delete Employee </button></a>
<br /><br />
<a href="/deletemanf"><button> Delete Manufacturer </button></a>
<br /><br />
<a href="/deletestaff"><button> Delete Staff </button></a>
<br /><br />
<a href="/deletestore"><button> Delete Store </button></a>
<br /><br />

</div>
{% endblock %}

