{% extends "layouts/formlayout.html" %}

{% block title_form %}
<h2>Create Product</h2>
{% endblock %}

{% block body_form %}
<form action="{{ url_for('productcreate')}}" method="post">
    <h5>Enter the product details</h5>
    <div>
        <input type="text" name="Product_ID" placeholder="Product ID">
    </div>
    <div>
        <input type="text" name="Manufacturer_ID" placeholder="Manufacturer ID">
    </div>
    <div>
        <input type="text" name="Product_Price" placeholder="Product Price">
    </div>
    <div>
        <input type="text" name="Product_Quantity" placeholder="Product Quantity">
    </div>
    <div>
        <input type="text" name="Product_Size" placeholder="Product Size">
    </div>
    <div>
        <input type="text" name="Product_Type" placeholder="Product_Type">
    </div>
    <div>
        <input type="text" name="Product_Description" placeholder="Product Description">
    </div>
    <div>
        <button >Create</button>
    </div>
</form>

{% endblock %}
