{% extends "layouts/formlayout.html" %}

{% block title_form %}
<h2>Create Chef</h2>
{% endblock %}

{% block body_form %}
<form action="{{ url_for('chefcreate')}}" method="post">
    <h5>Enter the chef details</h5>
    <div>
        <input type="text" name="cname" placeholder="name">
    </div>
    <div>
        <input type="text" name="addr" placeholder="address">
    </div>
    <div>
      <input type="text" name="phone" placeholder="phone">
  </div>
    <div>
        <button >Create</button>
    </div>
</form>

{% endblock %}