{% extends "layouts/baselayout.html" %}

{% block body_base %}

<h3>Create</h3>
<a href="/createchef"><button> Create Chef </button></a>
<a href="/createdish"><button> Create Dish </button></a>
<a href="/createcooks"><button> Create Cooks </button></a>
<a href="/createproduct"><button> Create Product </button></a>
<br/>
<h3>Read</h3>
<a href="/readchef"><button> Read Chefs </button></a>
<a href="/readdish"><button> Read Dishes </button></a>
<a href="/readcooks"><button> Read Cooks </button></a>
<a href="/readproduct"><button> Read Products </button></a>
<h3>Update</h3>
<a href="/updatechef"><button> Update Chef </button></a>
<a href="/updatedish"><button> Update Dish </button></a>
<a href="/updatecooks"><button> Update Cooks </button></a>
<a href="/updateproduct"><button> Update Product </button></a>
<h3>Delete</h3>
<a href="/deletechef"><button> Delete Chef </button></a>
<a href="/deletedish"><button> Delete Dish </button></a>
<a href="/deletecooks"><button> Delete Cooks </button></a>
<a href="/deleteproduct"><button> Delete Product </button></a>

{% endblock %}

