{% extends "layouts/baselayout.html" %}

{% block body_base %}

<h3>Create</h3>
<a href="/createproduct"><button> Create Product </button></a>
<a href="/createorder"><button> Create Order </button></a>
<br/>
<h3>Read</h3>
<a href="/readproduct"><button> Read Products </button></a>
<a href="/readorder"><button> Read Order </button></a>
<h3>Update</h3>
<a href="/updateproduct"><button> Update Product </button></a>
<a href="/updateorder"><button> Update Order </button></a>
<h3>Delete</h3>
<a href="/deleteproduct"><button> Delete Product </button></a>
<a href="/deleteorder"><button> Delete Order </button></a>

{% endblock %}

