{% extends "layouts/baselayout.html" %}

{% block body_base %}
<img src="https://media.giphy.com/media/eJLicD3TXKmUrNz32j/giphy.gif" alt="funny GIF" width="10%" height="10%">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="https://media.giphy.com/media/Jx78JEiPiCJRtL6OSg/giphy.gif" alt="funny GIF" width="10%" height="10%">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="https://media.giphy.com/media/eJLicD3TXKmUrNz32j/giphy.gif" alt="funny GIF" width="10%" height="10%">

<h3>Create</h3>
<a href="/createproduct"><button> Create Product </button></a>
<a href="/createmanf"><button> Create Manufacturer </button></a>

<h3>Read</h3>
<a href="/readproduct"><button> Read Products </button></a>
<a href="/readorder"><button> Read Order </button></a>
<a href="/readmanf"><button> Read Manufacturer </button></a>

<h3>Update</h3>
<a href="/updateproduct"><button> Update Product </button></a>
<a href="/updatemanf"><button> Update Manufacturer </button></a>

<h3>Delete</h3>
<a href="/deleteproduct"><button> Delete Product </button></a>
<a href="/deleteorder"><button> Delete Order </button></a>
<a href="/deletemanf"><button> Delete Manufacturer </button></a>


{% endblock %}