{% extends "layouts/tablelayout.html" %}

{% block title_table %}
<h2>Read Order</h2> 
{% endblock %}

{% block body_table %}
<table>
  <tr>
      <th>Order_ID</th>
      <th>Store_ID</th>
      <th>Product_ID</th>
      <th>Order_Quantity</th>
      <th>Order_Price</th>
      <th>Order_Date</th>
      <th>Received</th>
  </tr>
  {% for Order_ID, Store_ID, Product_ID, Order_Quantity, Order_Price, Order_Date, Received in orderlist %}
  <tr>
      <td>{{ Order_ID }}</td>
      <td>{{ Store_ID }}</td>
      <td>{{ Product_ID }}</td>
      <td>{{ Order_Quantity }}</td>
      <td>{{ Order_Price }}</td>
      <td>{{ Order_Date }}</td>
      <td>{{ Received }}</td>
  </tr>
  {% endfor %}    
</table>

{% endblock %}