{% extends "layouts/tablelayout.html" %}

{% block title_table %}
<h2>Read Store </h2> 
{% endblock %}

{% block body_table %}
<table>
  <tr>
      <th>Store_ID</th>
      <th>Store_Name</th>
      <th>Employee_ID</th>

  </tr>
  {% for Store_ID, Store_Name, Employee_ID in store_list %}
  <tr>
      <td>{{ Store_ID }}</td>
      <td>{{ Store_Name }}</td>
      <td>{{ Employee_ID }}</td>
      <td><a href="/updatestoreid/{{Store_ID}}"><button> Update Store </button></a></td>
      <td><a href="/deletestoreid/{{Store_ID}}"><button> Delete Store </button></a></td>
  </tr>
  {% endfor %}    
</table>
{% endblock %}