{% extends "layouts/tablelayout.html" %}

{% block title_table %}
<h2>Read Product</h2> 
{% endblock %}

{% block body_table %}
<table>
    <tr>
        <th>Product_ID</th>
        <th>Manufacturer_ID</th>
        <th>Product_Price</th>
        <th>Product_Quantity</th>
        <th>Product_Size</th>
        <th>Product_Type</th>
        <th>Product_Description</th>
    </tr>
    {% for Product_ID, Manufacturer_ID, Product_Price, Product_Quantity, Product_Size, Product_Type, Product_Description in productlist %}
    <tr>
        <td>{{ Product_ID }}</td>
        <td>{{ Manufacturer_ID }}</td>
        <td>{{ Product_Price }}</td>
        <td>{{ Product_Quantity }}</td>
        <td>{{ Product_Size }}</td>
        <td>{{ Product_Type }}</td>
        <td>{{ Product_Description }}</td>
        <td><a href="/updateproductid/{{Product_ID}}"><button> Update Product </button></a></td>
        <td><a href="/deleteproductid/{{Product_ID}}"><button> Delete Product </button></a></td>
    </tr>
    {% endfor %}    
</table>

{% endblock %}