{% extends "layouts/baselayout.html" %}

<img src="https://media.giphy.com/media/eJLicD3TXKmUrNz32j/giphy.gif" alt="funny GIF" width="25%" height="25%">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="https://media.giphy.com/media/Jx78JEiPiCJRtL6OSg/giphy.gif" alt="funny GIF" width="25%" height="25%">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="https://media.giphy.com/media/eJLicD3TXKmUrNz32j/giphy.gif" alt="funny GIF" width="25%" height="25%">

{% block body_base %}
<h3>Create</h3>
<a href="/createorder"><button> Create Order </button></a>
<a href="/createemployee"><button> Create Employee </button></a>
<a href="/createstaff"><button> Create Staff</button></a>
<a href="/createstore"><button> Create Store </button></a>

<h3>Read</h3>
<a href="/readorder"><button> Read Order </button></a>
<a href="/reademployee"><button> Read Employees </button></a>
<a href="/readstaff"><button> Read Staff </button></a>
<a href="/readstore"><button> Read Store </button></a>

<h3>Update</h3>
<a href="/updateorder"><button> Update Order </button></a>
<a href="/updateemployee"><button> Update Employee </button></a>
<a href="/updatestaff"><button> Update Staff </button></a>
<a href="/updatestore"><button> Update Store </button></a>

<h3>Delete</h3>
<a href="/deleteorder"><button> Delete Order </button></a>
<a href="/deleteemployee"><button> Delete Employee </button></a>
<a href="/deletestaff"><button> Delete Staff </button></a>
<a href="/deletestore"><button> Delete Store </button></a>


{% endblock %}