{% extends "layouts/formlayout.html" %}

{% block title_form %}
<h2>Update Cooks</h2>
{% endblock %}

{% block body_form %}
<form action="{{ url_for('cooksupdate')}}" method="post">
  <h5>Select a cooks relationship to be updated:</h5>
    <label for="chefnames1">Select a chef</label>
    <select name="chefnames1">
      {% for name in chefnames %}
        <option value="{{ name }}">{{ name }}</option>
      {% endfor %} 
    </select>
    <label for="dishnames1">Select a dish</label>
    <select name="dishnames1">
      {% for name in dishnames %}
        <option value="{{ name }}">{{ name }}</option>
      {% endfor %} 
    </select>
  
    <h5>Select the updated cooks relationship:</h5>
    <label for="chefnames2">Select a chef</label>
    <select name="chefnames2">
      {% for name in chefnames %}
        <option value="{{ name }}">{{ name }}</option>
      {% endfor %} 
    </select>
    <label for="dishnames2">Select a dish</label>
    <select name="dishnames2">
      {% for name in dishnames %}
        <option value="{{ name }}">{{ name }}</option>
      {% endfor %} 
    </select>
    <div>
        <button >Update</button>
    </div>
</form>

{% endblock %}
